<div class="ui-g" [style]="{margin: '50px'}">
    <p-toast></p-toast>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <p-panel>
        <p-header>
            {{title}}
        </p-header>
        <div style ="margin-bottom: 20px;">
            <p-menubar [model]="items"></p-menubar>
        </div>
        <p-table [value]="noticias" [columns]="cols" [paginator]="true" [rows]="10" [responsive]="true" selectionMode="single" [(selection)]="selectedNoticia" dataKey="id">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngStyle]="{'width': col.width}">
                        {{col.header}}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-noticia let-columns="columns">
                <tr [pSelectableRow]="noticia">
                    <td *ngFor="let col of columns" [ngStyle]="{'width': col.width,'text-align': 'center'}">
                        {{noticia[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
    <p-dialog header="Noticia"  [responsive]="true" [(visible)]="displayNoticiaSaveDialog">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12" [style]="{height: '350px'}">
                <div class="ui-g-4">
                    <label for="noticia.categoria">Categoria</label>
                </div>
                <div class="ui-g-8">
                    <p-dropdown [options]="categorias" [(ngModel)]="noticia.categoria" [filter]="true" 
                                (ngModelChange)="onSelectCategoria($event)" placeholder="Seleccione..."></p-dropdown>
                </div>
                <div class="ui-g-4">
                    <label for="noticia.autor">Autor</label>
                </div>
                <div class="ui-g-8">
                    <p-dropdown [options]="autores" [(ngModel)]="noticia.autor" [filter]="true" 
                                (ngModelChange)="onSelectAutor($event)" placeholder="Seleccione..."></p-dropdown>
                </div>
                <div class="ui-g-4">
                    <label for="noticia.titulo">Titulo</label>
                </div>
                <div class="ui-g-12">
                    <textarea pInputTextarea id="noticia.titulo" [(ngModel)]="noticia.titulo" autoResize="autoResize" maxlength="400"></textarea>
                </div>
                <div class="ui-g-4">
                    <label for="noticia.descripcion">Noticia</label>
                </div>
                <div class="ui-g-12">
                    <textarea pInputTextarea id="noticia.descripcion" [(ngModel)]="noticia.descripcion" autoResize="autoResize"  maxlength="4000"></textarea>
                </div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="pi pi-check" (click)="save()" label="Save"></button>
            </div>
        </p-footer>
    </p-dialog>
</div>