
<div [style]="{'margin': '30px'}">

    <p-tabMenu [model]="items"></p-tabMenu>

    <div  style="margin-top: 40px">
    <p-card [header]="noticia.titulo" *ngFor="let noticia of noticias" [style]="{width: '31%',margin: '1%', float: 'left'}">

            {{noticia.descripcion}}

            <p-footer>
                {{noticia.autor.nombres+" "+noticia.autor.apellidos}}
            </p-footer>
    </p-card>
</div>
</div>